
//========================

html.dark .page__theme {
    &::before{
        content: "\e95d";
        font-family: 'icomoon' !important;
        color: #ededeb;
        font-size: 26px;
        transition: color 0.4s ease 0.1s; 
    }
    @media (any-hover: hover){
        &:hover{
            &::before{
                color: var(--link-color);
            }   
        }
    }
}
html.light .page__theme {
    transform: scale(0.8) rotate(0deg);
    &::before{
        content: "\e95c";
        font-family: 'icomoon' !important;
        color: #81813b;
        font-size: 26px;
        transition: color 0.4s ease 0.1s;
    }
}

.page__reset {
    opacity: 0;
    visibility: hidden;
}
.page__reset.active {
    opacity: 1;
    visibility: visible;
}
.page__reset {
    &::before{
        z-index: 9;
        //content:'x';
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        width: 10px;
        height: 10px;
        font-size: 7px;
        border-radius: 50%;
        line-height: 12px;
        color: #fff;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: #81813b;
    }
}
//=======  day-night  =================================================================================================================================================
.day-night {
    cursor: pointer;
    opacity: .7;
    display: none;
    @media (max-width: $mobile) {
        position: absolute;
        right: 100px;
        
    }
  
    input {
      display: none;
  
      &+div {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
        box-shadow: inset 8px -8px 0 0 var(--inverse);
        transform: scale(1) rotate(-2deg);
        transition: box-shadow .5s ease 0s, transform .4s ease .1s;
  
        &:before {
          content: '';
          width: inherit;
          height: inherit;
          border-radius: inherit;
          position: absolute;
          left: 0;
          top: 0;
          transition: background-color .3s ease;
        }
  
        &:after {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          margin: -3px 0 0 -3px;
          position: absolute;
          top: 50%;
          left: 50%;
          box-shadow: 0 -23px 0 var(--inverse), 0 23px 0 var(--inverse), 23px 0 0 var(--inverse), -23px 0 0 var(--inverse), 15px 15px 0 var(--inverse), -15px 15px 0 var(--inverse), 15px -15px 0 var(--inverse), -15px -15px 0 var(--inverse);
          transform: scale(0);
          transition: all .3s ease;
        }
      }
  
      &:checked+div {
        box-shadow: inset 20px -20px 0 0 var(--inverse);
        transform: scale(.5) rotate(0deg);
        transition: transform .3s ease .1s, box-shadow .2s ease 0s;
  
        &:before {
          background: var(--inverse);
          transition: background-color .3s ease .1s;
        }
  
        &:after {
          transform: scale(1);
          transition: transform .5s ease .15s;
        }
      }
    }
  }

