@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,900&display=swap);
// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans";

//$fontFamily:'Inter';
$fontSize: clamp(16px, 1.2vw, 19px); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
//$mainColor: var(--text-color); // Колір шрифту за замовчуванням
$mainColor: #ebe3dc; // Колір шрифту за замовчуванням
$opasityColor: #e4e4e4a2;
$opAccentColor: var(--primary);
$opAccentColor1: #dbd5d0;
$accentColor: #e27413;
$accentColor1: #462f08;
$bgColor: #1a1919;
$bgColor2: #44413c;
$textColor: #0c1725;

// Палітра кольорів
@import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1440;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toRem($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toRem(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toRem(767.98); // Телефони L
$mobileSmall: toRem(479.98); // Телефони S
$menuPc: toEm(1024);

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	//opacity: 0;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	padding-right: 0 !important;
	// Скролл заблоковано
	//overflow: hidden;
	.lock & {
		overflow: hidden !important;
		touch-action: none;
		overscroll-behavior: none;
		
	}
	.touch & {
		overflow: visible;
	}
	// Сайт завантажений
	.has-scroll-init & {
		//transition: all .3s ease-in-out 1s;
    	opacity: 1;
	}
	::selection {
		background: $opAccentColor; /* Safari */
		color: $accentColor1;
		}
	::-moz-selection {
		background: $opAccentColor; /* Firefox */
		color: $accentColor1;
		}
}
.main-wrap {
	box-sizing: border-box;
    width: 100vw;
	//height: 100%;
  //  will-change: transform;
  //  position: fixed;
    display: block;
    display: flex;
    flex-direction: column;
	pointer-events: none;
}

.c-scrollbar {
	//background: #c51818;
	background: transparent;
}

::-webkit-scrollbar {
    width: toRem(5);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
	border-radius: toRem(5);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray);
}

::-webkit-scrollbar-track {
    background: transparent;
}


// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	pointer-events: none;
	@supports (overflow: clip) {
		//overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
		//height: 100%;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
	&__color {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		pointer-events: none;
		background-color: transparent;
		transition: background-color var(--animation-thumb);
		opacity: 0.8;

	}
}
.page {
	//z-index: 1;
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";


// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";
@import "marquee";
@import "mouse";

// Підключення стилів окремих сторінок
@import "home";
@import "about";
@import "latest-work";
@import "page-head";
@import "product";
//@import "banner-marquee";
@import "transition";
@import "bio";
@import "work";


//==============  Noise  ==========================================================================================================================================
.noise {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	position: fixed;
	pointer-events: none;
	&::before{
	//	content:'';
		position: absolute;
		top: -10rem;
		left: -10rem;
		width: calc(100% + 20rem);
		height: calc(100% + 20rem);
		background: url('@img/noise.png');
		background-position: 50%;
		pointer-events: none;
		z-index: 200;
		animation: noise 2s steps(2) infinite;
	}
}
@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0);
	}
	10% {
		transform: translate3d(-1rem, -4rem, 0);
	}
	20% {
		transform: translate3d(-8rem, 2rem, 0);
	}
	30% {
		transform: translate3d(9rem, -9rem, 0);
	}
	40% {
		transform: translate3d(-2rem, 7rem, 0);
	}
	50% {
		transform: translate3d(-9rem, -4rem, 0);
	}
	60% {
		transform: translate3d(2rem, 6rem, 0);
	}
	70% {
		transform: translate3d(7rem, -8rem, 0);
	}
	80% {
		transform: translate3d(-9rem, 1rem, 0);
	}
	90% {
		transform: translate3d(6rem, -5rem, 0);
	}
	to {
		transform: translate3d(-7rem, 0, 0);
	}
}